<div class="w-96">
  <%= form_with url: searches_path,
                method: :get,
                local: true,
                class: "w-72" do |form| %>

    <%= form.text_field :query,
                        value: params[:query],
                        placeholder: "Search CRM...",
                        class: "w-full rounded-lg border border-slate-300 px-4 py-2 text-sm text-slate-700 focus:border-slate-500 focus:ring-slate-500" %>

  <% end %>
</div>